$color-accent: #143161
$color-dark-accent: #a1bae2

$color-accent: #60ee6c
$color-text: #FFFFFF
$color-text-alt: #F2F2F2
$color-background: #121612
$color-background-alt: #454545
$color-border: rgba(255, 255, 255, 0.30)
$color-selection: $color-background
$color-selection-background: rgba($color-text, .7)

$font-title: "GesturaText", serif
$heading-font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif
$body-font-family: $heading-font-family
$h1-font-family: $font-title
$h2-font-family: $font-title
$h3-font-family: $font-title
$h2-size: pxToRem(30)
$h3-size: pxToRem(24)
$h5-text-transform: none
$h5-weight: bold

$header-background: none
$header-border-bottom-width: 0
$hero-background-color: none
$footer-background-color: none